<div id="nav-bar">
  <div>
    <i class="large material-icons">queue_music</i>
    <h3 id ="gig-db">GIG-db.com</h3>
  </div>
</div>

<h1>Login with your username or email to view and update concert list</h1>
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="new_user">
    <%= f.label 'Username' %><br>
    <%= f.text_field :username, :class => 'user_input', :placeholder => 'Enter your username' %>
  </div>
  <br>
  <div class="new_user">
    <%= f.label 'Email' %><br>
    <%= f.text_field :email, :class => 'user_input', :placeholder => 'Enter your email' %>
  </div>
  <br>
  <div class="new_user">
    <%= f.label 'Password' %><br>
    <%= f.text_field :password, :class => 'user_input', :placeholder => 'Enter your password' %>
  </div>
  <br>
  <div class= "submit_concert_button" >
    <%= submit_tag "Login", { :class => 'btn' } %> 
  </div>
  <br>
 <% end %>

<%= link_to 'Add a New Concert', new_concert_path %>