

<p id="notice"><%= notice %></p>

<h1>Concert List</h1>

<%= form_tag(concerts_path, method: "GET") do %>
    <div class= "concert_search">
        <%= label_tag "Artist" %><br>
        <%= text_field_tag :artist, params[:artist], :class => 'input_field' , :placeholder => 'Search artists' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "Venue" %><br>
        <%= text_field_tag :name, params[:name], :class => 'input_field', :placeholder => 'Search venues' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "City" %><br>
        <%= text_field_tag :city, params[:city], :class => 'input_field', :placeholder => 'Search cities' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "Country" %><br>
        <%= text_field_tag :country, params[:country], :class => 'input_field', :placeholder => 'Search countries' %>
    </div>
    <div class= "submit_concert_button" >
        <%= submit_tag "Search for a concert", { :class => 'btn' } %> 
    </div>
<% end %>

<table class="hoverable">
  <!-- <tbody>
    <tr>
        <td colspan="7">

        </td>
    </tr>
   </tbody>-->
  <tbody>
    <br>
    <%= paginate @concerts %> 
    <br> 
    <% @concerts.each do |concert| %>
      <tr>  
        <td><%= concert.artist %></td>
        <td><%= concert.venue.name %></td>
        <td><%= concert.venue.city %></td>
        <td><%= concert.venue.country %></td>
        <td><%= concert.date %></td>
    <% unless concert.photos.empty? %>
        <td><%= link_to 'Show Photo(s)', photo_path(concert.id) %></td>
    <% else %>
        <td></td>
    <% end %>
    <% if current_user.present? %>
        <td><%= link_to 'Add concert to my list', concert_user_path(concert, current_user) %></td>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back to my concert list', user_concerts_path(current_user) %>

