<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="concert_search">
    <%= f.label :artist %><br>
    <%= f.text_field :artist, :class => 'input_field' %>
  </div>
  <div class="concert_search">
    <%= f.label :venue %><br>
    <%= f.text_field :venue, :class => 'input_field' %>
  </div>
  <div class="concert_search">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class => 'input_field' %>
  </div>
  <div class="concert_search">
    <%= f.label :country %><br>
    <%= f.text_field :country, :class => 'input_field' %>
  </div>
  <div class="concert_search">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
