<div id="nav-bar">
  <div>
    <i class="large material-icons">queue_music</i>
    <h3 id ="gig-db">GIG-db.com</h3>
  </div>
  <div id= 'logout'>
  <% if current_user.present? %>
  <%= link_to 'Log out', logout_path %>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<h1>Concert List</h1>

<%= form_tag(concerts_path, method: "GET") do %>
    <div class= "concert_search">
        <%= label_tag "Artist" %><br>
        <%= text_field_tag :artist, params[:artist], :class => 'input_field' , :placeholder => 'Search artists' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "Venue" %><br>
        <%= text_field_tag :venue, params[:venue], :class => 'input_field', :placeholder => 'Search venues' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "City" %><br>
        <%= text_field_tag :city, params[:city], :class => 'input_field', :placeholder => 'Search cities' %>
    </div>
    <div class= "concert_search">
        <%= label_tag "Country" %><br>
        <%= text_field_tag :country, params[:country], :class => 'input_field', :placeholder => 'Search countries' %>
    </div>
    <div class= "submit_concert_button" >
        <%= submit_tag "Search for a concert", { :class => 'btn' } %> 
    </div>
      <% end %>

<table class="hoverable">
  <!-- <thead class="tablehead">
    <tr>
      <th>Artist</th>
      <th>Venue</th>
      <th>City</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
  <tbody>
    <br>
    <%= paginate @concerts %> 
    <br> 
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.artist %></td>
        <td><%= concert.venue %></td>
        <td><%= concert.city %></td>
        <td><%= concert.country %></td>
        <td><%= concert.date %></td>
        <td><%= link_to 'Show Photo', concert %></td>
        <% if current_user.present? %>
        <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
        <td><%= link_to 'Delete', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.present? %>
<%= link_to 'Add a New Concert', new_concert_path %>
<% else %>
<%= link_to 'Create an Account', new_user_path %>
<%= link_to 'Login', login_path %>
<% end %>

