<div class="container-fluid">
  <div id="nav-bar">
    <div>
      <i class="large material-icons">queue_music</i>
      <h3 id ="gig-db">GIG-db.com</h3>
    </div>
    <div id= 'logout'>
      <% if current_user.present? %>
        <%= link_to 'Log out', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  </div>
</div>


<h1>Add a new concert</h1>

<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>
        <ul>
        <% @concert.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>
  <br>

  <div class="concert_search">
    <%= f.label :artist %><br>
    <%= f.text_field :artist, :class => 'input_field', :placeholder => 'Add an artist' %>
  </div>
  <div class="concert_search">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="concert_search">
    <%= f.label :venue %><br>
    <%= collection_select(:concert, :venue_id, @venues.order('name ASC'), :id, :name_with_city, prompt: true, :class => 'input_field' ) %>
  </div>
  <div class="submit_concert_button">
    <%= f.submit "Add the concert", { :class => 'btn' }%>
  </div>
<% end %>
<br>
<br>


<h3>Venue not on the list? <%=link_to 'Add a new venue', new_venue_path %></h3>

<h3><%= link_to 'Back to my concert list', user_concerts_path(current_user) %></h3>

<h3><%= link_to 'Go to main concert page', user_path(current_user) %></h3>




