
<h1>Adding a photo from your Instagram account</h1>
<ol>
<li class="photo_upload">In your Instagram account, select the photo you want to be stored</li>
<li class="photo_upload">In the bottom right corner, you'll see 3 dots. Click on them</li>
<li class="photo_upload">Then click on Embed</li>
<li class="photo_upload">Copy the Embed Code from the Instagram photo into the box below</li>
<li class="photo_upload"><a href="https://instagram.com/developer/embedding/" class="photo_upload">Here's how to do it</a></li>

<%= form_for(@photo) do |f| %>
  <%= hidden_field_tag(:concert_id, params[:concert_id]) %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
        <ul>
        <% @photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <div class="embed_code">
    <%= f.label :photo, "Instagram Embed Code", :class => "photo_upload" %><br>
    <%= f.text_field :photo, :class => 'embed_field', :placeholder => 'Copy the Embed Code from Instagram here' %>
  </div>
  <div class= "submit_concert_button" >
    <%= submit_tag "Save Instagram Embed Code", { :class => 'btn' } %> 
  </div>
<% end %>
<br>
<br>
<br>
<%= link_to 'Back to my concert list', user_concerts_path(current_user) %>