<div id="nav-bar">
  <div>
    <i class="large material-icons">queue_music</i>
    <h3 id ="gig-db">GIG-db.com</h3>
  </div>
  <div id='logout'>
    <% if current_user.present? %>
        <%= link_to 'Log out', logout_path %>
    <% else %>
        <%= link_to 'Login', login_path %>
    <% end %>
  </div>
</div>


<h1>Adding a photo from your Instagram account</h1>
<ol>
<li class="photo_upload">In your Instagram account, select the photo you want to be stored</li>
<li class="photo_upload">Copy the embed code from the Instagram photo into the box below</li>
<li><a href="https://instagram.com/developer/embedding/"><p class="photo_upload">Here's how to do it</p></a></li>

<%= form_for(@photo) do |f| %>
  <%= hidden_field_tag(:concert_id, params[:concert_id]) %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
        <ul>
        <% @photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <div class="embed_code">
    <%= f.label :photo, "Instagram embed code", :class => "photo_upload" %><br>
    <%= f.text_field :photo, :class => 'embed_field', :placeholder => 'Paste the Instagram embed code here' %>
  </div>
  <div class= "submit_concert_button" >
    <%= submit_tag "Save Instagram Embed Code", { :class => 'btn' } %> 
  </div>
<% end %>