
<br>
<div>
<% if current_user.present? %>
  <%= link_to 'Back to my concert list', user_concerts_path(current_user) %>
<% else %>
  <%= link_to 'Back to the main concert page', concerts_path %> |
  <%= link_to 'Create an account', new_user_path %>
<% end %>
</div>
<br>

<% @photos.each do |photo| %>
  <!-- 
  <%= photo.concert.artist %>
  <%= photo.concert.date %>
   -->
  <div class="instagram">
  <%= photo.photo.html_safe %> <%# VERY UNSAFE!!!!!! photo code comes from the user %>
  </div>
<% end %>


