<!DOCTYPE html>
<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- JQuery Core JavaScript -->
    <link href="lib/js/jquery.min.js">
    <link href="lib/js/jquery-ui.min.js">
    <!-- Bootstrap Core JavaScript -->
    <link href="lib/js/bootstrap.min.js">

    <!-- gig-db icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Maiden+Orange">
    <!-- bootstrap (sigh) -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <title>Concerts</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_page?(welcome_index_path) %>
        <%= render 'layouts/header_home' %>
    <% else %>
        <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
